
.appContent {
    color: #00B0FF;
    font-size: larger;
    font-weight: bold;
}

#content {
  padding: 10px;

}

nav {
  float: left;
  width: 10%;
}

nav a{
  display: inline-block;
}

#main {
  float: right;
  width: 90%;
  height: 100%;
}

footer {
  clear: both;
}
