.container {
  background-color: HotPink;
  overflow-y: scroll;
  width: auto;
  height:70vh; /*vh is heingt of window*/
  border-radius: 10px;
}
.dropdown{
  padding-bottom:10px;
}

.row-fluid {
  display: flex;
}

.btn{
  width: 100%;
}

.dropdown-menu{
  width: 100%;
}
