
.review{

  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  border-style: solid;
  border-radius: 10px;
}

.rating {
  height:400px;
  width:100%;
}

.user-reviews{
  width:100%;
}
