

<div class = "row">
	<div class = "col-md-3">
		<select (change)="filterCity(value)" class= "selectpicker">
		    <option value="Blanchardstown"><a routerLink="/dublin" >Blanchardstown</a></option>
		    <option (click)="filterCity('Howth');"><a routerLink="/dublin" >Howth</a></option>
		    <option (click)="filterCity('Lucan');"><a href="#">Lucan</a></option>

		</select>
	</div>

	<div class = "col-md-3">
		<div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Food-Type
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a (click)="filterFood('Seafood');">Seafood</a></li>
		    <li><a (click)="filterFood('Grill');">Grill</a></li>
		    <li><a (click)="filterFood('Italian');">Italian</a></li>
				<li><a (click)="filterFood('European');">European</a></li>
				<li><a (click)="filterFood('Indian');">Indian</a></li>
		  </ul>
		</div>
	</div>

	<div class = "col-md-3">
		<div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Price-Range
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a (click)="filterPrice('Cheap');">Cheap</a></li>
		    <li><a (click)="filterPrice('Average');">Average</a></li>
		    <li><a (click)="filterPrice('Expensive');">Expensive</a></li>
		  </ul>
		</div>
	</div>

	<div class = "col-md-3">
		<div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rating
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a href="#">Low to High</a></li>
		    <li><a href="#">High to Low</a></li>
		  </ul>
		</div>
	</div>
</div>


<div class="container">

	<div *ngFor="let r of tempRestaurants">
			<osl-restaurant-item [restaurant]="r"></osl-restaurant-item>
	  </div>
	</div>
