

<div class = "row">
	<div class = "col-md-3">
		<select (change)="filter($event.target.value)" class= "selectpicker">
			 <option><a routerLink="/dublin" >Select City</a></option>
		    <option><a routerLink="/dublin" >Blanchardstown</a></option>
		    <option><a routerLink="/dublin" >Howth</a></option>
		    <option><a routerLink="/dublin">Lucan</a></option>

		</select>
	</div>

	<div class = "col-md-3">
		<select (change)="filter($event.target.value)" class= "selectpicker">
				<option><a routerLink="/dublin" >Select Foot Type</a></option>
			  <option><a routerLink="/dublin" >Seafood</a></option>
		    <option><a routerLink="/dublin" >Grill</a></option>
		    <option><a routerLink="/dublin">Italian</a></option>
		</select>
	</div>


	<div class = "col-md-3">
		<div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Price-Range
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a (click)="filterPrice('Cheap');">Cheap</a></li>
		    <li><a (click)="filterPrice('Average');">Average</a></li>
		    <li><a (click)="filterPrice('Expensive');">Expensive</a></li>
		  </ul>
		</div>
	</div>

	<div class = "col-md-3">
		<div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rating
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a href="#">Low to High</a></li>
		    <li><a href="#">High to Low</a></li>
		  </ul>
		</div>
	</div>
</div>

<button (click) = "displayArray();">Display array to console</button>
<button (click) = "remove();">splice last element</button>

<div class="container">

	<div *ngFor="let r of tempRestaurants">
			<osl-restaurant-item [restaurant]="r"></osl-restaurant-item>
	  </div>
	</div>
