

<div class = "row">
	<div class = "col-md-4">
		<select (change)="filter($event.target.value, 1)" class= "selectpicker">
			 <option>City</option>
		    <option>Blanchardstown</option>
		    <option>Howth</option>
		    <option>Lucan</option>
		</select>
	</div>

	<div class = "col-md-4">
		<select (change)="filter($event.target.value, 2)" class= "selectpicker">
			 <option>Food Type</option>
		    <option>Seafood</option>
		    <option>Grill</option>
		    <option>Italian</option>
		</select>
	</div>


	<div class = "col-md-4">
		<select (change)="filter($event.target.value, 3)" class= "selectpicker">
			 <option>Price Range</option>
		    <option>Cheap</option>
		    <option>Average</option>
		    <option>Expensive</option>
		</select>
	</div>


</div>



<div class="container">

	<div *ngIf="tempRestaurants.length ==0">
		<h1>Please Choose An Option!</h1>
	</div>
		<div *ngFor="let r of tempRestaurants">

			<div *ngIf="r.county == 'Dublin'">
				<osl-restaurant-item [restaurant]="r"></osl-restaurant-item>
			</div>
	  </div>
	</div>
