
.appContent {
    color: #00B0FF;
    font-size: larger;
    font-weight: bold;

}

nav {
  float: left;
  outline-style: solid;
  position: relative;
  height: 100%;
  width: 15%;



}

nav ul {
  height: 100%;
}
nav a{
  display: inline-block;
  width: auto;
}


#main {
  float: right;
  position: relative;
  width: 85%;
  height: 100%;
  outline-style: solid;


}
