

<div class = "row">
	<div class = "col-md-3">
		<select (change)="filter($event.target.value)" class= "selectpicker">
			 <option selected="selected"><a routerLink="/meath" >Select City</a></option>


		</select>
	</div>

	<div class = "col-md-3">
		<select (change)="filter($event.target.value)" class= "selectpicker">
				<option selected="selected"><a routerLink="/meath" >Select Food</a></option>

		</select>
	</div>


	<div class = "col-md-3">
		<select (change)="filter($event.target.value, 3)" class= "selectpicker">
			 <option>Select Price</option>
		    <option>Cheap</option>
		    <option>Average</option>
		    <option>Expensive</option>
		</select>
	</div>

	<div class = "col-md-3">
		<select (change)="filter($event.target.value)" class= "selectpicker">
			 <option>Select Rating</option>
		    <option>Low to High</option>
		    <option>High to Low</option>
		</select>
	</div>

	<div>City: {{cityFilter}} </div>
	<div>Food-Type: {{foodFilter}}</div>
	<div>Price: {{priceFilter}}</div>
	<button (click) = "displayArray();">Display array to console</button>
	<button (click) = "remove();">splice last element</button>
	<button (click) = "clear();">Clear all filters</button>

<div class="container">

	<div *ngFor="let r of tempRestaurants">
			<osl-restaurant-item [restaurant]="r"></osl-restaurant-item>
	  </div>
	</div>
